    <div class="ui basic modal okmsgbox">
        <div class="content">
            <div align="center">
                <p id="ModalMessageInfo" style="font-size:16px;"></p>
            </div>
        </div>
        <div class="actions">
            <div align="center">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    OK
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic modal errmsgbox">
        <div class="content">
            <div align="center">
                <p id="ModalMessageError" style="font-size:16px;"></p>
            </div>
        </div>
        <div class="actions">
            <div align="center">
                <div class="ui red ok inverted button">
                    <i class="checkmark icon"></i>
                    OK
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic modal confirmmsgbox">
        <div class="content">
            <div align="center">
                <p id="ModalMessageConfirm" style="font-size:16px;"></p>
            </div>
        </div>
        <div class="actions">
            <div align="center">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    YES
                </div>
                <div class="ui red cancel inverted button">
                    <i class="x icon"></i>
                    NO
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic modal callbackmsgbox">
        <div class="content">
            <div align="center">
                <p id="ModalMessageCallBack" style="font-size:16px;"></p>
            </div>
        </div>
        <div class="actions">
            <div align="center">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    OK
                </div>
            </div>
        </div>
    </div>


