@using CCP.Web.CFMS.Web.Libraries.Core

@{
    ViewBag.Title = "Chapel New";
}

@section styles
{
    <style>
        .ui.table tr td {
            border-bottom: none;
            border-top: none;
        }

        .ui.basic.table tbody tr {
            border-bottom: none;
            border-top: none;
        }
    </style>
}

<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <div class="divider"> / </div>
    <div class="section">Maintenance</div>
    <div class="divider"> / </div>
    <a class="section" href="/Maintenance/Chapels">Chapels</a>
    <div class="divider"> / </div>
    <div class="active section">New</div>
</div>

<div style="padding-top:40px;">
    <div align="right">
        <button id="btnSave" class="ui primary button" style="width:120px;">Save</button>
        <button id="btnReturn" class="ui button">Return</button>
    </div>
    <hr />
    <div style="padding-top:10px;" align="center">
        <table class="ui very basic collapsing table" style="width:100%; max-width:800px;">
            <tbody>
                <tr>
                    <td class="collapsing">
                        <label>Chapel Name *</label>
                    </td>
                    <td>
                        <div class="ui input" style="width:100%"><input id="txtName" type="text" maxlength="256" /></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/js/app/chapels/add.js?v=@Env.Versioning()"></script>
}