@using CCP.Web.CFMS.Web.Libraries.Core

@{
    ViewBag.Title = "Roles";
}

<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <div class="divider"> / </div>
    <div class="section">Security</div>
    <div class="divider"> / </div>
    <div class="active section">Roles</div>
</div>

<div style="padding-top:40px;">
    <div>
        <a id="btnAdd" class="ui primary button" href="/Security/Roles/New">Add New Record</a>
    </div>
    <div style="padding-top:10px;">
        <table class="ui blue selectable celled table">
            <thead>
                <tr>
                    <th class="collapsing">&nbsp;</th>
                    <th class="collapsing">&nbsp;</th>
                    <th>Role Name</th>
                    <th>Role Description</th>
                </tr>
            </thead>
            <tbody id="tablebody">
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="__id" value="@ViewBag.Id" />

@section scripts
{
    <script type="text/javascript" src="/js/app/roles/index.js?v=@Env.Versioning()"></script>
}